<div id="home-container">
  <form action="/artist-search" method="GET" id="form-container">
    <input name="artist" type="text" placeholder="Write your artist" />
    <button>Search for and Artist</button>
  </form>
</div>